.avatar {
  vertical-align: middle;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.right {
  margin-top: 3rem;
  line-height: 2rem;
  text-align: center;
}
.ro {
  border-radius: 10px;
  background: #f8f8f8;
  height: 900px;
  padding: 2rem;
  font-family: "Raleway";
}
